<div class="grid">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="title">
                <h2>Edit Attendance Record #{{ attendanceId }}</h2>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6 field">
                        <label for="class" class="font-bold">Class</label>
                        <p-dropdown id="class" [options]="classes" [(ngModel)]="selectedClass"
                            optionLabel="name" placeholder="Select a class" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="col-12 md:col-6 field">
                        <label for="date" class="font-bold">Date</label>
                        <p-calendar id="date" [(ngModel)]="date" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                    </div>

                    <div class="col-12">
                        <h3>Student Attendance</h3>
                        <p-table [value]="students" styleClass="p-datatable-sm">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 5%">ID</th>
                                    <th style="width: 30%">Student Name</th>
                                    <th style="width: 25%">Status</th>
                                    <th style="width: 40%">Notes</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-student>
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.name }}</td>
                                    <td>
                                        <p-selectButton [options]="statusOptions" [(ngModel)]="student.status"></p-selectButton>
                                    </td>
                                    <td>
                                        <input type="text" pInputText [(ngModel)]="student.notes" placeholder="Add notes...">
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <button pButton label="Cancel" icon="pi pi-times" class="p-button-text mr-2"></button>
                    <button pButton label="Save" icon="pi pi-check" (click)="saveAttendance()"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
