<div class="grid">
    <!-- Student Table -->
    <app-global-table
        tableLabel="Alunos"
        [headerActions]="headerActions"
        [data]="(students$ | async)!"
        [entity]="'students'"
        [columns]="columns"
        [globalFilterFields]="globalFilterFields"
        [loading]="loading$ | async"
        [columnTemplates]="customTemplates"
        (rowSelect)="onRowSelect($event)"
        (createEntity)="navigateToCreateStudent()"
        class="w-full"
    ></app-global-table>
</div>

<!-- Name template field -->
<ng-template #nameTemplate let-rowData>
    <span>{{ rowData.user.firstname + " " + rowData.user.lastname }}   </span>
</ng-template>

<ng-template #phoneTemplate let-rowData>
    <span> {{ rowData.user.phone ?? 'N/A' }} </span>
</ng-template>

<ng-template #emailTemplate let-rowData>
    <span>{{ rowData.user.email }}</span>
</ng-template>


<ng-template #dateOfBirthTemplate let-rowData>
    <span>{{ rowData.user.dateOfBirth ?? 'N/A' }}</span>
</ng-template>

<ng-template #centerTemplate let-rowData>
    <span>{{ getStudentCenter(rowData.centerId) ?? 'N/A' }}</span>
</ng-template>

<ng-template #levelTemplate let-rowData>
    <span> {{ getStudentLevel(rowData.levelId) ?? 'N/A' }} </span>
</ng-template>

<ng-template #classTemplate let-rowData>
    <span> {{ rowData.studentClass?.name ?? 'N/A' }} </span>
</ng-template>

<ng-template #statusTemplate let-rowData>
    <p-badge
        [value]="rowData.status === 'ACTIVE' ? 'Ativo' : 'Inativo'"
        [severity]="rowData.status === 'ACTIVE' ? 'success' : 'danger'"
        class="w-full"
    ></p-badge>
</ng-template>

<ng-template #actionsTemplate let-center>
    <div class="flex gap-2 justify-content-center">
        <button
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-text"
            (click)="navigateToEditStudent(center)"
            pTooltip="Ver Detalhes"
            tooltipPosition="top"
        ></button>
    </div>
</ng-template>
