<div class="grid">
    <app-global-table
        tableLabel="Aulas"
        [data]="lessons"
        [route]="'schoolar/lessons'"
        [columns]="columns"
        [globalFilterFields]="globalFilterFields"
        [showAddButtom]="false"
        [showExportButtom]="false"
        class="w-full"
    ></app-global-table>
</div>

<ng-template #statusTemplate let-item>
    <span
        pTooltip="Editar"
        [ngClass]="getStatusClass(item.status)"
        class="customer-badge font-bold text-white px-2 py-1 border-round-lg"
        >{{ item.status }}</span
    >
</ng-template>
