<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Gerenciar Permissões</h5>
            <p>Adicione ou remova permissões para este perfil.</p>

            <span *ngIf="errors$ | async ">{{errors$ | async}}</span>

            <!-- Current Permissions -->
            <div class="mb-5">
                <h6>Permissões Atuais</h6>
                <p-table [value]="(role$ | async)?.permissions || []" [loading]="(loading$ | async)!"
                    styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-permission>
                        <tr>
                            <td>{{ permission.name }}</td>
                            <td>{{ permission.description }}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="removePermission(permission)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4" class="text-center">
                                <div class="p-4">
                                    Nenhuma permissão atribuída a esta função.
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Add Permission with Tree View -->
            <div>
                <h6>Adicionar Permissão</h6>
                <div class="grid">
                    <div class="col-12">
                        <app-permission-tree-select [permissions]="availablePermissions" [loading]="(loading$ | async)!"
                            [selectedPermissionIds]="selectedPermissionIds"
                            (permissionSelected)="onPermissionsSelected($event)">
                        </app-permission-tree-select>
                    </div>
                    <div class="col-12 mt-3 flex justify-content-end">
                        <button pButton pRipple label="Adicionar Permissões Selecionadas" icon="pi pi-plus"
                            (click)="addSelectedPermissions()" [disabled]="!hasSelectedPermissions"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div class="grid" *ngIf="(loading$ | async)!">
    <div class="col-12 flex justify-content-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<!-- Toast Messages -->
<p-toast></p-toast>
