<!-- Tela inteira com fundo verde -->
<div class="login-container">
    <!-- Painel central com dois lados -->
    <div class="login-box">
      <!-- Painel esquerdo -->
      <div class="left-panel">
        <img src="assets/st_andrews.jpeg" alt="Logo" />
        <h1>ST. Andrews English School</h1>
        <button routerLink="/login">Voltar</button>
      </div>

      <!-- Painel direito -->
      <div class="right-panel">
        <div class="form-wrapper">
          <div class="text-center">
            <img class="logo" src="assets/st-andrews-logo.png" alt="Security Icon" />
            <p>Vamos ajudá-lo a redefinir a sua palavra-passe!</p>
          </div>

          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="email">Email</label>
              <input
                id="email"
                type="email"
                formControlName="email"
                placeholder="Insira seu email"
              />
            </div>

            <button type="submit" class="submit-btn" [disabled]="isSubmitting">
              <i *ngIf="!isSubmitting" class="pi pi-envelope mr-2"></i>
              <i *ngIf="isSubmitting" class="pi pi-spin pi-spinner mr-2"></i>
              {{ isSubmitting ? 'Enviando...' : 'Enviar link de recuperação' }}
            </button>

            <div class="forgot">
              <a routerLink="/auth/login">Voltar para login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
