<div class="layout-topbar">
    <div class="topbar-start flex-grow-1">
        <button
            *ngIf="menuMode !== 'drawer'"
            type="button"
            class="topbar-menubutton p-link p-trigger"
            (click)="menuMode = 'drawer'">
            <i class="pi pi-bars"></i>
        </button>

        <button
            *ngIf="menuMode === 'drawer'"
            type="button"
            class="topbar-menubutton p-link p-trigger"
            (click)="menuMode = 'static'"
            pTooltip="Voltar para menu estático"
            tooltipPosition="bottom">
            <i class="pi pi-th-large"></i>
        </button>

        <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
    </div>

    <div class="topbar-end">
        <ul class="topbar-menu">
            <li class="topbar-search">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        type="text"
                        pInputText
                        placeholder="Pesquisar..."
                        class="topbar-search-input"
                    />
                </span>
            </li>

            <li class="topbar-notification">
                <button type="button" class="p-link notification-button" pTooltip="Notificações" tooltipPosition="bottom">
                    <span class="notification-icon-wrap">
                        <i class="pi pi-bell"></i>
                        <span class="notification-dot"></span>
                    </span>
                </button>
            </li>

            <li class="topbar-profile">
                <button
                    type="button"
                    class="p-link profile-button"
                    (click)="onProfileButtonClick()">
                    <div class="profile-avatar-container">
                        <p-avatar
                            [image]="userProfileService.getPhotoUrl()"
                            [label]="userProfileService.getInitials()"
                            size="normal"
                            shape="circle">
                        </p-avatar>
                    </div>
                    <div class="profile-user-info">
                        <span class="profile-name">{{ userProfileService.getFullName() }}</span>
                        @if (userProfileService.getCenterName()) {
                            <span class="profile-center">{{ userProfileService.getCenterName() }}</span>
                        }
                    </div>
                    <i class="pi pi-chevron-down profile-chevron"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
