<div class="layout-topbar">
    <div class="topbar-start flex-grow-1">
        <!-- Toggle to Drawer when not in drawer mode -->
        <button
            *ngIf="menuMode !== 'drawer'"
            type="button"
            class=" p-link border-1 border-white cursor-pointer bg-white"
            (click)="menuMode = 'drawer'"
        >
            <i class="pi pi-bars text-xl"></i>
        </button>

        <button
            *ngIf="menuMode != 'static'"
            type="button"
            class=" p-link border-1 border-white cursor-pointer bg-white"
            (click)="menuMode = 'static'"
        >
            <i class="pi pi-arrow-right text-xl"></i>
        </button>

        <!-- Toggle back to Static when in drawer mode -->
        <button
            *ngIf="menuMode === 'drawer'"
            type="button"
            class="topbar-menubutton p-link p-trigger"
            (click)="menuMode = 'static'"
            pTooltip="Voltar para menu estático"
            tooltipPosition="bottom"
        >
            <i class="pi pi-th-large"></i>
        </button>

        <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
    </div>

    <div class="topbar-end">
        <ul class="topbar-menu">
            <li class="topbar-search">
                <span class="p-input-icon-left">
                    <input
                        type="text"
                        pInputText
                        placeholder="Pesquisar"
                        class="w-12rem sm:w-full"
                    />
                </span>
            </li>
            <li class="ml-3">
                <button
                    pButton
                    type="button"
                    icon="pi pi-cog"
                    class="p-button-text p-button-secondary p-button-rounded flex-shrink-0"
                    (click)="onConfigButtonClick()"
                ></button>
            </li>
            <li class="topbar-profile">
                <button
                    type="button"
                    class="p-link profile-button"
                    (click)="onProfileButtonClick()"
                    pTooltip="{{ (currentUser$ | async) ? userProfileService.getFullName() : 'Profile' }}"
                    tooltipPosition="bottom">
                    <div class="profile-avatar-container text-white bg-primary-500 border-round-lg">
                        <p-avatar
                            [image]="userProfileService.getPhotoUrl()"
                            [label]="userProfileService.getInitials()"
                            size="normal"
                            shape="circle"
                            class="profile-avatar text-white font-bold">
                        </p-avatar>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>
