<div class="grid">
    <div class="card w-full">
        <div class="flex justify-content-between gap-5">
            <div>
                <h1 class="text-3xl text-dark" *ngIf="student">{{ student.user?.firstName || 'N/A' }} - {{ student.code || 'N/A' }}</h1>
                <h1 class="text-3xl text-dark" *ngIf="!student">Loading student details...</h1>
            </div>
            <div class="action-buttons">
                <p-splitButton
                    label="Acções rápidas"
                    icon="pi pi-sliders-h"
                    [model]="items"
                    styleClass="p-button-info text-5xl"
                ></p-splitButton>
            </div>
        </div>
    </div>
    <app-tab-view [tabs]="tabs" class="w-full"></app-tab-view>
</div>
