<div class="grid">
    <div id="mainHeader" class="col-12 flex justify-content-between items-center mb-4 sticky-header">
        <div>
            <h2 class="font-bold text-2xl mb-4">Gestão de utilizadores</h2>
            <span class="text-lg">Gestão de utilizadores do backoffice</span>
        </div>
        <p-button *hasPermission="'employees.creatse'" (onClick)="navigateToCreateEmployee()" label="Novo utilizador" icon="pi pi-plus"
            class="p-button-outlined"></p-button>
    </div>
    <!-- Employee Table -->
    <app-global-table tableLabel="Funcionários" [headerActions]="headerActions" [data]="(employees$ | async)!"
        [entity]="'employees'" [columns]="columns" [globalFilterFields]="globalFilterFields"
        [loading]="loading$ | async" [columnTemplates]="customTemplates" (rowSelect)="onRowSelect($event)"
        (createEntity)="navigateToCreateEmployee()" class="w-full"></app-global-table>
</div>

<!-- Name template field -->
<ng-template #nameTemplate let-rowData>
    <span>{{ rowData.user.firstname }} {{ rowData.user.lastname }}</span>
</ng-template>

<ng-template #emailTemplate let-rowData>
    <span>{{ rowData.user.email }}</span>
</ng-template>

<ng-template #positionTemplate let-rowData>
    <span>{{ rowData.user.roleName }}</span>
</ng-template>

<ng-template #statusTemplate let-rowData>
    <p-badge [value]="getStatusLabel(rowData.status)" [severity]="getStatusSeverity(rowData.status)" [ngClass]="{
        'p-badge-success': rowData.status === 'ACTIVE',
        'p-badge-warning': rowData.status === 'INACTIVE',
        'p-badge-info': rowData.status === 'ON_LEAVE',
        'p-badge-danger': rowData.status === 'TERMINATED'
    }"></p-badge>
</ng-template>
