<div class="grid">
    <!-- Employee Table -->
    <app-global-table
        tableLabel="Funcionários"
        [headerActions]="headerActions"
        [data]="(employees$ | async)!"
        [entity]="'employees'"
        [columns]="columns"
        [globalFilterFields]="globalFilterFields"
        [loading]="loading$ | async"
        [columnTemplates]="{
            name:nameTemplate,
            email: emailTemplate,
            role: roleTemplate
        }"
        (rowSelect)="onRowSelect($event)"
        (createEntity)="navigateToCreateEmployee()"
        class="w-full"
    ></app-global-table>
</div>

<!-- Name template field -->
<ng-template #roleTemplate let-rowData>
    <span> {{ rowData.user.roleName }} </span>
</ng-template>
<ng-template #nameTemplate let-rowData>
    <span> {{ rowData.user.firstname + " " + rowData.user.lastname }} </span>
</ng-template>

<ng-template #emailTemplate let-rowData>
    <span> {{ rowData.user.email }} </span>
</ng-template>

<ng-template #hireDateTemplate let-rowData>
    <span>{{ rowData.hireDate | date:'dd/MM/yyyy' }}</span>
</ng-template>
