<div class="grid">
    <div class="col-12 mb-3">
        <button pButton label="Upload New Document" icon="pi pi-upload" class="p-button-primary"></button>
    </div>

    <app-global-table
        tableLabel="Documentos"
        [data]="documents"
        [entity]="'documents'"
        [columns]="columns"
        [globalFilterFields]="globalFilterFields"
        class="w-full"
    >
        <ng-template pTemplate="body" let-document>
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td>{{ document.type }}</td>
                <td>{{ document.uploadDate }}</td>
                <td>{{ document.size }}</td>
                <td>{{ document.status }}</td>
                <td>
                    <button pButton icon="pi pi-download" class="p-button-rounded p-button-text"
                        (click)="downloadDocument(document)" title="Download"></button>
                    <button pButton icon="pi pi-eye" class="p-button-rounded p-button-text"
                        title="View"></button>
                </td>
            </tr>
        </ng-template>
    </app-global-table>
</div>
