<div class="col-12">
    <div class="card">
        <div class="flex justify-content-between gap-2 mb-5">
            <div class="flex align-items-center gap-4">
                <h1>{{ tableLable }}</h1>
                <p-dropdown
                    [options]="options"
                    [(ngModel)]="selectedOption"
                    placeholder="Listagem por alunos"
                    [showClear]="true"
                ></p-dropdown>
                <p-dropdown
                    [options]="instalations"
                    [(ngModel)]="selectedDrop"
                    placeholder="Selecione a Instalação"
                    [showClear]="true"
                ></p-dropdown>
            </div>
            <div class="flex gap-1 h-rem">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-success"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-upload"
                    class="p-button-help"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-file-pdf"
                    class="p-button-help"
                ></button>
            </div>
        </div>
        <p-table
            #dt1
            [value]="customers1"
            dataKey="id"
            [rows]="10"
            [loading]="loading"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            [paginator]="true"
            [globalFilterFields]="[
                'name',
                'country.name',
                'representative.name',
                'status'
            ]"
            responsiveLayout="scroll"
            *ngIf="selectedOption() == 'table_students'"
        >
            <ng-template pTemplate="caption">
                <div
                    class="flex justify-content-between flex-column sm:flex-row"
                >
                    <button
                        pButton
                        label="Limpar filtro"
                        class="p-button-outlined mb-2"
                        icon="pi pi-filter-slash"
                        (click)="clear(dt1)"
                    ></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            #filter
                            (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Pesquisar..."
                            class="w-full"
                        />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Aluno
                            <p-columnFilter
                                type="text"
                                field="name"
                                display="menu"
                                placeholder="Search by name"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Data
                            <p-columnFilter
                                type="text"
                                field="country.name"
                                display="menu"
                                placeholder="Search by country"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Turma
                            <p-columnFilter
                                field="representative"
                                matchMode="in"
                                display="menu"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false"
                            >
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold"
                                            >Agent Picker</span
                                        >
                                    </div>
                                </ng-template>
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-multiSelect
                                        [ngModel]="value"
                                        [options]="representatives"
                                        placeholder="Any"
                                        (onChange)="filter($event.value)"
                                        optionLabel="name"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <div
                                                class="p-multiselect-representative-option"
                                            >
                                                <img
                                                    [alt]="option.label"
                                                    src="assets/demo/images/avatar/{{
                                                        option.image
                                                    }}"
                                                    width="32"
                                                    style="
                                                        vertical-align: middle;
                                                    "
                                                />
                                                <span class="ml-2">{{
                                                    option.name
                                                }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Nível
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 8rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Inicio
                            <p-columnFilter
                                type="numeric"
                                field="balance"
                                display="menu"
                                currency="USD"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 8rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Termino
                            <p-columnFilter
                                field="status"
                                matchMode="equals"
                                display="menu"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="statuses"
                                        (onChange)="filter($event.value)"
                                        placeholder="Any"
                                        [style]="{ 'min-width': '12rem' }"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span
                                                [class]="
                                                    'customer-badge status-' +
                                                    option.value
                                                "
                                                >{{ option.label }}</span
                                            >
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 8rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Duração
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Professor
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 8rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Presença
                            <p-columnFilter
                                type="boolean"
                                field="verified"
                                display="menu"
                            ></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>
                        {{ customer.name }}
                    </td>
                    <td>{{ customer.date | date : "MM/dd/yyyy" }}</td>
                    <td>5008337741</td>
                    <td>Beginner - Adults</td>
                    <td>10:00</td>
                    <td>12:00</td>
                    <td>60 min</td>
                    <td>Phrasal Verbs</td>
                    <td class="text-center">
                        <i
                            class="pi"
                            [ngClass]="{
                                'true-icon pi-check-circle text-green-500':
                                    customer.verified,
                                'false-icon pi-times-circle text-pink-500':
                                    !customer.verified
                            }"
                        ></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        <div>
            <p-table
                #dt1
                [value]="customers1"
                dataKey="id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]"
                responsiveLayout="scroll"
                *ngIf="selectedOption() == 'table_presences'"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Limpar filtro"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)"
                        ></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Pesquisar..."
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Número
                                <p-columnFilter
                                    type="text"
                                    field="name"
                                    display="menu"
                                    placeholder="Search by name"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Aluno
                                <p-columnFilter
                                    type="text"
                                    field="country.name"
                                    display="menu"
                                    placeholder="Search by country"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Turma
                                <p-columnFilter
                                    field="representative"
                                    matchMode="in"
                                    display="menu"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                >
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold"
                                                >Agent Picker</span
                                            >
                                        </div>
                                    </ng-template>
                                    <ng-template
                                        pTemplate="filter"
                                        let-value
                                        let-filter="filterCallback"
                                    >
                                        <p-multiSelect
                                            [ngModel]="value"
                                            [options]="representatives"
                                            placeholder="Any"
                                            (onChange)="filter($event.value)"
                                            optionLabel="name"
                                        >
                                            <ng-template
                                                let-option
                                                pTemplate="item"
                                            >
                                                <div
                                                    class="p-multiselect-representative-option"
                                                >
                                                    <img
                                                        [alt]="option.label"
                                                        src="assets/demo/images/avatar/{{
                                                            option.image
                                                        }}"
                                                        width="32"
                                                        style="
                                                            vertical-align: middle;
                                                        "
                                                    />
                                                    <span class="ml-2">{{
                                                        option.name
                                                    }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Nível
                                <p-columnFilter
                                    type="date"
                                    field="date"
                                    display="menu"
                                    placeholder="mm/dd/yyyy"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Orientador
                                <p-columnFilter
                                    type="numeric"
                                    field="balance"
                                    display="menu"
                                    currency="USD"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Instalação
                                <p-columnFilter
                                    field="status"
                                    matchMode="equals"
                                    display="menu"
                                >
                                    <ng-template
                                        pTemplate="filter"
                                        let-value
                                        let-filter="filterCallback"
                                    >
                                        <p-dropdown
                                            [ngModel]="value"
                                            [options]="statuses"
                                            (onChange)="filter($event.value)"
                                            placeholder="Any"
                                            [style]="{ 'min-width': '12rem' }"
                                        >
                                            <ng-template
                                                let-option
                                                pTemplate="item"
                                            >
                                                <span
                                                    [class]="
                                                        'customer-badge status-' +
                                                        option.value
                                                    "
                                                    >{{ option.label }}</span
                                                >
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Sala
                                <p-columnFilter
                                    field="status"
                                    matchMode="equals"
                                    display="menu"
                                >
                                    <ng-template
                                        pTemplate="filter"
                                        let-value
                                        let-filter="filterCallback"
                                    >
                                        <p-dropdown
                                            [ngModel]="value"
                                            [options]="statuses"
                                            (onChange)="filter($event.value)"
                                            placeholder="Any"
                                            [style]="{ 'min-width': '12rem' }"
                                        >
                                            <ng-template
                                                let-option
                                                pTemplate="item"
                                            >
                                                <span
                                                    [class]="
                                                        'customer-badge status-' +
                                                        option.value
                                                    "
                                                    >{{ option.label }}</span
                                                >
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 2rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                P
                            </div>
                        </th>
                        <th style="min-width: 2rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                F
                            </div>
                        </th>
                        <th style="min-width: 2rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                J
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            {{ customer.id }}
                        </td>
                        <td>
                            {{ customer.name }}
                        </td>
                        <td>5008337741</td>
                        <td>Beginner - Adults</td>
                        <td>Sebasttiao Joao</td>
                        <td>Nova Vida</td>
                        <td>2</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Carregando os dados, por favor aguarde
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
