<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block"
        >Avaliar o estudante</span
    >
    <div class="grid">
        <!-- DADOS PESSOAIS -->
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-8">
                    <label for="nickname" class="font-medium text-900"
                        >Nome completo</label
                    >
                    <p-dropdown
                        [options]="estudantes"
                        placeholder="Selecione o nome do aluno"
                        [(ngModel)]="id[1]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Nota da Avaliação</label
                    >
                    <input id="email" type="number" pInputText />
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Data da Avaliação</label
                    >
                    <input id="date" type="date" pInputText />
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Compreensão Auditiva</label
                    >
                    <p-dropdown
                        [options]="reviews1"
                        placeholder="Selecione o nível"
                        [(ngModel)]="id[2]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Leitura</label
                    >
                    <p-dropdown
                        [options]="reviews1"
                        placeholder="Selecione o nível"
                        [(ngModel)]="id[3]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Escrita</label
                    >
                    <p-dropdown
                        [options]="reviews1"
                        placeholder="Selecione o nível"
                        [(ngModel)]="id[4]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Fala</label
                    >
                    <p-dropdown
                        [options]="reviews1"
                        placeholder="Selecione o nível"
                        [(ngModel)]="id[5]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Vocabuário</label
                    >
                    <p-dropdown
                        [options]="reviews1"
                        placeholder="Selecione o nível"
                        [(ngModel)]="id[6]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Gramática</label
                    >
                    <p-dropdown
                        [options]="reviews1"
                        placeholder="Selecione o nível"
                        [(ngModel)]="id[7]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-8">
                    <label for="nickname" class="font-medium text-900"
                        >Presenças</label
                    >
                    <input
                        id="nickname"
                        type="number"
                        pInputText
                        placeholder="Mais de 5 faltas reprova"
                    />
                </div>


                <div class="col-12 md:col-12">
                    <textarea
                        rows="5"
                        cols="30"
                        placeholder="Observações"
                        pInputTextarea
                    ></textarea>
                </div>
                <div class="col-12 md:col-12">
                    <textarea
                        rows="5"
                        cols="30"
                        placeholder="Feedback-Geral"
                        pInputTextarea
                    ></textarea>
                </div>
                <div class="col-12 md:col-6">
                    <button
                        pButton
                        pRipple
                        label="Avaliar o Estudante"
                        class="w-auto mt-3"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
