<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block"
        >Adicionar estudante</span
    >
    <div class="grid">
        <!-- DADOS PESSOAIS -->
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Dados pessoais</div>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-4">
                    <label for="avatar" class="font-medium text-900"
                        >Foto</label
                    >
                    <p-fileUpload
                        mode="basic"
                        name="avatar"
                        url="./upload.php"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        styleClass="p-button-outlined p-button-plain"
                        chooseLabel="Carregue uma imagem"
                    ></p-fileUpload>
                </div>
                <div class="field mb-4 col-12 md:col-8">
                    <label for="nickname" class="font-medium text-900"
                        >Nome completo</label
                    >
                    <input id="nickname" type="text" pInputText />
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Tipo de Identificação</label
                    >
                    <p-dropdown
                        [options]="ids"
                        placeholder="Selecione"
                        [(ngModel)]="id[10]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Nº de Identificação</label
                    >
                    <input id="email" type="text" pInputText />
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="country" class="font-medium text-900"
                        >País</label
                    >
                    <p-dropdown
                        inputId="country"
                        [options]="countries"
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Selecione um país"
                    >
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img
                                    src="assets/demo/images/flag/flag_placeholder.png"
                                    [class]="
                                        'mr-2 flag flag-' +
                                        country.code.toLowerCase()
                                    "
                                    style="width: 18px"
                                />
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Género</label
                    >
                    <div class="grid formgrid">
                        <div class="col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton
                                    name="city"
                                    value="Chicago"
                                    [(ngModel)]="valRadio"
                                    id="m"
                                ></p-radioButton>
                                <label for="city1">Masculino</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="field-radiobutton">
                                <p-radioButton
                                    name="city"
                                    value="Los Angeles"
                                    [(ngModel)]="valRadio"
                                    id="f"
                                ></p-radioButton>
                                <label for="city2">Femenino</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Data de Nascimento</label
                    >
                    <input id="email" type="text" pInputText />
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Morada</label
                    >
                    <input id="email" type="text" pInputText />
                </div>
            </div>
        </div>

        <!-- DADOS DA MATRICULA -->

        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">
                Dados da matricula
            </div>
        </div>

        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Instalação</label
                    >
                    <p-dropdown
                        [options]="instalations"
                        placeholder="Selecione"
                        [(ngModel)]="id[4]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Tipo de Inscrição</label
                    >
                    <p-dropdown
                        [options]="levels"
                        placeholder="Selecione"
                        [(ngModel)]="id[9]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Estado</label
                    >
                    <div class="grid formgrid">
                        <div class="col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton
                                    name="city"
                                    value="Chicago"
                                    [(ngModel)]="valRadio"
                                    id="m"
                                ></p-radioButton>
                                <label for="city1">Activo</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="field-radiobutton">
                                <p-radioButton
                                    name="city"
                                    value="Los Angeles"
                                    [(ngModel)]="valRadio"
                                    id="f"
                                ></p-radioButton>
                                <label for="city2">Inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field mb-4 col-12 md:col-8">
                    <label for="email" class="font-medium text-900"
                        >Entidades</label
                    >
                    <p-dropdown
                        [options]="entities"
                        placeholder="Selecione"
                        [(ngModel)]="id[40]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="email" class="font-medium text-900"
                        >Descontos Automáticos</label
                    >
                    <p-dropdown
                        [options]="discounts"
                        placeholder="Selecione"
                        [(ngModel)]="id[3]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium text-900"
                        >Modalidade de Pagamento</label
                    >
                    <p-dropdown
                        [options]="payment_ways"
                        placeholder="Selecione"
                        [(ngModel)]="id[1]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium text-900"
                        >Mensalidade por Referência Multibanco</label
                    >
                    <p-dropdown
                        [options]="reference_monthly_sent"
                        placeholder="Selecione"
                        [(ngModel)]="id[0]"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="group1"
                            value="New York"
                            [(ngModel)]="valCheck[0]"
                            id="ny"
                        ></p-checkbox>
                        <label for="ny">Termos de Responsabilidades</label>
                    </div>
                </div>

                <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="group1"
                            value="New York"
                            [(ngModel)]="valCheck[1]"
                            id="ny"
                        ></p-checkbox>
                        <label for="ny">
                            Aceita receber comunicação sobre o funcionamento,
                            alteração do horário de funcionamento das
                            instalações e das atividades</label
                        >
                    </div>
                </div>

                <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="group1"
                            value="New York"
                            [(ngModel)]="valCheck[2]"
                            id="ny"
                        ></p-checkbox>
                        <label for="ny">
                            Aceita receber informações por email
                            (Publicidade)</label
                        >
                    </div>
                </div>

                <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="group1"
                            value="New York"
                            [(ngModel)]="valCheck[3]"
                            id="ny"
                        ></p-checkbox>
                        <label for="ny">
                            Aceita a recolha e tratamento dos dados
                            pessoais</label
                        >
                    </div>
                </div>

                <div class="field mb-4 col-12 md:col-8">
                    <label for="nickname" class="font-medium text-900"
                        >E-mail</label
                    >
                    <input
                        id="nickname"
                        type="text"
                        pInputText
                        placeholder="ex. user@gmail.com"
                    />
                </div>

                <div class="col-12 md:col-4 mt-5">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="group1"
                            value="New York"
                            [(ngModel)]="valCheck[4]"
                            id="ny"
                        ></p-checkbox>
                        <label for="ny"> Receber facturas por e-mail</label>
                    </div>
                </div>

                <div class="col-12 md:col-12">
                    <textarea
                        rows="5"
                        cols="30"
                        placeholder="Observações"
                        pInputTextarea
                    ></textarea>
                </div>
                <div class="col-12 md:col-6">
                    <button
                        pButton
                        pRipple
                        label="Adicionar estudante"
                        class="w-auto mt-3"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
