/* Estilos específicos para o componente TabView */
:host ::ng-deep {
  .p-tabview .p-tabview-nav {
    border-width: 0 0 1px 0;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-width: 0 0 2px 0;
    border-color: transparent;
    transition: border-color 0.2s;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  .p-tabview-panels {
    padding: 1.5rem 0;
  }
}