<div *ngIf="loading" class="spinner-container">
    <p-progressSpinner styleClass="custom-spinner" fill="#EEEEEE"></p-progressSpinner>
  </div>

  <div class="grid" *ngIf="!loading && editableLevel">
    <div class="col-12">
      <div class="card">
        <h5>Detalhes do Nível</h5>
        <div class="p-fluid grid">
          <div class="field col-12 md:col-6">
            <label for="name">Nome</label>
            <input id="name" type="text" pInputText [(ngModel)]="editableLevel.name" />
          </div>

          <div class="field col-12 md:col-6">
            <label for="description">Descrição</label>
            <textarea id="description" pInputTextarea [(ngModel)]="editableLevel.description"></textarea>
          </div>

          <div class="field col-12 md:col-6">
            <label for="duration">Duração (horas)</label>
            <input id="duration" type="number" pInputText [(ngModel)]="editableLevel.duration" />
          </div>

          <div class="field col-12 md:col-6">
            <label for="maximumUnits">Unidades Máximas</label>
            <input id="maximumUnits" type="number" pInputText [(ngModel)]="editableLevel.maximumUnits" />
          </div>

          <!--
          <div class="field col-12 md:col-6">
            <label for="course">Curso</label>
            <input id="course" type="text" pInputText [value]="level.course.name" readonly />
          </div>
          -->
        </div>

        <div class="flex justify-content-end gap-2 mt-4">
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-pencil"
            class="p-button-primary"
            (click)="editLevel()"
          ></button>
          <button
            pButton
            pRipple
            label="Descarregar"
            icon="pi pi-download"
            class="p-button-secondary"
            (click)="downloadLevelDetails()"
          ></button>
          <button
            pButton
            pRipple
            label="Enviar"
            icon="pi pi-send"
            class="p-button-secondary"
            (click)="sendLevelDetails()"
          ></button>
        </div>
      </div>
    </div>
  </div>
