<div class="grid">
    <div id="mainHeader" class="col-12 flex justify-content-between items-center mb-4 sticky-header">
        <div>
            <h2 class="font-bold text-2xl mb-4">Gestão de funções</h2>
            <span class="text-lg">Cadastro e gestão de funções e permissões de acesso</span>
        </div>
        <p-button
            (onClick)="navigateToCreateRole()"
            label="Nova função"
            icon="pi pi-plus"
            class="p-button-outlined"
        ></p-button>
    </div>
    <!-- Roles Table -->
    <app-global-table
        tableLabel="Funções"
        [headerActions]="headerActions"
        [data]="(roles$ | async)!"
        [entity]="'roles'"
        [columns]="columns"
        [globalFilterFields]="globalFilterFields"
        [loading]="loading$ | async"
        [columnTemplates]="customTemplates"
        (rowSelect)="onRowSelect($event)"
        (createEntity)="navigateToCreateRole()"
        class="w-full h-full!"
    ></app-global-table>
</div>

<!-- Permissions template field -->
<ng-template #permissionsTemplate let-rowData>
    <div class="flex flex-wrap">
        <p-tag *ngFor="let permission of rowData.permissions"
               [value]="permission.name"
               severity="info"
               class="mr-1 mb-1">
        </p-tag>
        <span *ngIf="rowData.permissions.length === 0">Nenhuma permissão</span>
    </div>
</ng-template>
