<div class="login-container">
    <div class="login-box">
      <!-- Painel esquerdo -->
      <div class="left-panel">
        <img src="assets/st_andrews.jpeg" alt="Logo" />
        <h1>ST. Andrews English School</h1>
        <button routerLink="/">Voltar</button>
      </div>

      <!-- Painel direito -->
      <div class="right-panel">
        <div class="form-wrapper">
          <div class="text-center">
            <img class="logo" src="assets/st-andrews-logo.png" alt="Security Icon" />
            <p>Escolha uma nova palavra-passe</p>
          </div>

          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="newPassword">Nova Palavra-passe</label>
              <div class="relative">
                <input
                  id="newPassword"
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                  placeholder="••••••••"
                />
                <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
                  <i [ngClass]="hidePassword ? 'pi pi-eye-slash' : 'pi pi-eye'" style="color: #1e2e6d"></i>
                </button>
              </div>
            </div>

            <div>
              <label for="confirmPassword">Confirmar Palavra-passe</label>
              <div class="relative">
                <input
                  id="confirmPassword"
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="confirmPassword"
                  placeholder="••••••••"
                />
                <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
                  <i [ngClass]="hidePassword ? 'pi pi-eye-slash' : 'pi pi-eye'" style="color: #1e2e6d"></i>
                </button>
              </div>
            </div>

            <button type="submit" class="submit-btn" [disabled]="isSubmitting">
              <i *ngIf="!isSubmitting" class="pi pi-check-circle mr-2"></i>
              <i *ngIf="isSubmitting" class="pi pi-spin pi-spinner mr-2"></i>
              {{ isSubmitting ? 'Aguardar...' : 'Redefinir' }}
            </button>

            <div class="forgot">
              <a routerLink="/login">Voltar para login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
