<p-tabView class="border-round-top-3xl" [scrollable]="true" [draggable]="false">
    <p-tabPanel
        *ngFor="let tab of tabs "
        [header]="tab.header"
        [leftIcon]="tab.icon"
        [cache]="true"
        [style]="tab.style"
        draggable="false"
    >
        <ng-container #dynamicComponentContainer>
            <ng-container *ngComponentOutlet="tab.template; injector: getInjector(tab.data.token , tab.data?.value)"  ></ng-container>
        </ng-container>
    </p-tabPanel>
</p-tabView>
