<div class="grid">
    <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full">
            <span class="font-semibold text-lg">Tempo passado na aplicação</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="w-6">
                    <span class="text-4xl font-bold text-900">90%</span>
                    <div class="text-green-500"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full">
            <span class="font-semibold text-lg">Assiduidade</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="w-6">
                    <span class="text-4xl font-bold text-900">45%</span>
                    <div class="text-green-500"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full">
            <span class="font-semibold text-lg">Avaliações e Provas feitas</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="w-6">
                    <span class="text-4xl font-bold text-900">30%</span>
                    <div class="text-pink-500"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card h-full">
            <div class="text-900 text-xl font-semibold mb-6">
                Percentagem do Progresso no curso
            </div>
            <p-chart
                type="bar"
                [data]="pieDataLevels"
                height="400px"
            ></p-chart>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card h-full">
            <div class="text-900 text-xl font-semibold mb-5">
                Comentários
            </div>
            <div
                *ngFor="let alert of alerts"
                class="flex flex-column justify-content-start align-content-start mb-4 gap-1"
            >
                <div class="flex align-items-center gap-1">
                    <i class="pi pi-bell font-bold"></i>
                    <div class="flex flex-column ml-3">
                        <span class="font-bold text-lg mb-1">{{
                            alert.label
                        }}</span>
                    </div>
                </div>

                <div class="text-xl p-text-secondary ml-5">
                    {{ alert.description }}
                </div>

                <div class="ml-5">12/12/2024 12:04</div>
            </div>
        </div>
    </div>
</div>
