<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Add Students to Center</h5>
            <p>Select students and assign them to a center</p>

            <p-toast></p-toast>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="grid formgrid p-fluid mb-4">
                    <div class="field col-12 md:col-6">
                        <label for="center">Center</label>
                        <p-dropdown
                            id="center"
                            formControlName="center"
                            [options]="centers"
                            optionLabel="name"
                            placeholder="Select a center"
                            [(ngModel)]="selectedCenter"
                            [showClear]="true">
                        </p-dropdown>
                    </div>
                </div>

                <div class="card">
                    <h5>Select Students</h5>
                    <p-table
                        #table
                        [value]="students"
                        [(selection)]="selectedStudents"
                        [paginator]="true"
                        [rows]="10"
                        [globalFilterFields]="['user.name', 'user.email', 'centerId']"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-column sm:flex-row">
                                <div class="p-input-icon-left mb-2">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        #filter
                                        (input)="table.filterGlobal(filter.value, 'contains')"
                                        placeholder="Search"
                                        class="w-full" />
                                </div>
                                <div>
                                    <span *ngIf="selectedStudents.length > 0">
                                        {{selectedStudents.length}} students selected
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="user.name">Name <p-sortIcon field="user.name"></p-sortIcon></th>
                                <th pSortableColumn="user.email">Email <p-sortIcon field="user.email"></p-sortIcon></th>
                                <th pSortableColumn="centerId">Current Center <p-sortIcon field="centerId"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-student>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="student"></p-tableCheckbox>
                                </td>
                                <td>{{student.user?.name || 'N/A'}}</td>
                                <td>{{student.user?.email || 'N/A'}}</td>
                                <td>{{student.centerId || 'None'}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">No students found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <div class="flex justify-content-end mt-4">
                    <p-button
                        type="submit"
                        label="Assign to Center"
                        icon="pi pi-check"
                        [loading]="loading"
                        [disabled]="form.invalid || selectedStudents.length === 0">
                    </p-button>
                </div>
            </form>
        </div>
    </div>
</div>
