<p-toast position="top-right" [baseZIndex]="10000"></p-toast>
<p-dialog
    [(visible)]="visible"
    [style]="{ width: '500px' }"
    header="Criar Nível"
    [modal]="true"
    styleClass="p-fluid"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    (onHide)="levelForm.reset(); levelForm.patchValue({ duration: 0, maximumUnits: 0 })">

    <form [formGroup]="levelForm" class="grid p-fluid">
        <div class="col-12 field">
            <label for="name" class="font-bold">Nome</label>
            <input
                id="name"
                type="text"
                pInputText
                formControlName="name"
                placeholder="Insira o nome do nível">
        </div>

        <div class="col-12 field">
            <label for="description" class="font-bold">Descrição</label>
            <textarea
                id="description"
                rows="3"
                pInputTextarea
                formControlName="description"
                placeholder="Insira a descrição do nível">
            </textarea>
        </div>

        <div class="col-12 field">
            <label for="duration" class="font-bold">Duração (meses)</label>
            <input
                id="duration"
                type="number"
                pInputText
                formControlName="duration"
                placeholder="Insira a duração do nível (em meses)">
        </div>

        <div class="col-12 field">
            <label for="maximumUnits" class="font-bold">Unidades Máximas</label>
            <input
                id="maximumUnits"
                type="number"
                pInputText
                formControlName="maximumUnits"
                placeholder="Insira o número máximo de unidades">
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <button
                pButton
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text mr-2"
                (click)="hide()">
            </button>
            <button
                pButton
                label="{{ (loading$ | async) ? 'Salvando...' : 'Salvar' }}"
                icon="pi pi-check"
                (click)="saveLevel()"
                [disabled]="levelForm.invalid">
            </button>
        </div>
    </ng-template>
</p-dialog>
