<p-toast></p-toast>
<p-dialog
    [(visible)]="visible"
    [style]="{ width: '500px' }"
    header="Criar Nível"
    [modal]="true"
    styleClass="p-fluid"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    (onHide)="resetForm()">

    <div class="grid p-fluid">
        <div class="col-12 field">
            <label for="name" class="font-bold">Name</label>
            <input
                id="name"
                type="text"
                pInputText
                [(ngModel)]="level.name"
                placeholder="Enter level name"
                required>
        </div>

        <div class="col-12 field">
            <label for="description" class="font-bold">Description</label>
            <textarea
                id="description"
                rows="3"
                pInputTextarea
                [(ngModel)]="level.description"
                placeholder="Enter level description">
            </textarea>
        </div>

        <div class="col-12 field">
            <label for="duration" class="font-bold">Duration (hours)</label>
            <input
                id="duration"
                type="number"
                pInputText
                [(ngModel)]="level.duration"
                placeholder="Enter level duration"
                required>
        </div>

        <div class="col-12 field">
            <label for="maximumUnits" class="font-bold">Maximum Units</label>
            <input
                id="maximumUnits"
                type="number"
                pInputText
                [(ngModel)]="level.maximumUnits"
                placeholder="Enter maximum units"
                required>
        </div>
        <!--
        <div class="col-12 field">
            <label for="course" class="font-bold">Course</label>

            <p-dropdown
                id="course"
                [options]="(courseOptions$ | async) ?? []"
                [(ngModel)]="level.course"
                optionLabel="name"
                placeholder="Selecione um curso"
                [showClear]="true"
                [required]="true">
            </p-dropdown>
        </div>
        -->
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <button
                pButton
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text mr-2"
                (click)="hide()">
            </button>
            <button
                pButton
                label="Save"
                icon="pi pi-check"
                [loading]="(loadingCreate$ | async) || false"
                [disabled]="(loadingCreate$ | async) || false"
                (click)="saveLevel()">
            </button>
        </div>
    </ng-template>
</p-dialog>
