<div class="grid">
    <app-global-table
        tableLabel="Units"
        [data]="units"
        [entity]="'units'"
        [columns]="columns"
        [loading]="loading"
        class="w-full"
    >
        <!-- Custom template for the actions column -->
        <ng-template pTemplate="actions" let-unit>
            <div class="flex gap-2 justify-content-center">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-text"
                        (click)="viewDetails(unit)"
                        pTooltip="Ver Detalhes" tooltipPosition="top"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text"
                        pTooltip="Editar" tooltipPosition="top"></button>
                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-text"
                        pTooltip="Descarregar" tooltipPosition="top"></button>
            </div>
        </ng-template>

        <!-- Custom template for the table header -->
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <button pButton pRipple label="Criar Unidade" icon="pi pi-plus" class="p-button-primary"
                        (click)="createUnit()"></button>
            </div>
        </ng-template>
    </app-global-table>
</div>
