<div class="grid">
    <div class="col-12 xl:col-4">
      <div class="card">
        <h2 class="mb-3">Criar Utilizador</h2>
        <form [formGroup]="userForm" (ngSubmit)="createUser()" class="p-fluid">
          <div class="field">
            <label>Nome</label>
            <input pInputText formControlName="firstname" />
          </div>
          <div class="field">
            <label>Apelido</label>
            <input pInputText formControlName="lastname" />
          </div>
          <div class="field">
            <label>Utilizador</label>
            <input pInputText formControlName="username" />
          </div>
          <div class="field">
            <label>Gênero</label>
            <p-dropdown [options]="['MALE', 'FEMALE']" formControlName="gender"></p-dropdown>
          </div>
          <div class="field">
            <label>Data de Nascimento</label>
            <p-calendar formControlName="dateOfBirth" dateFormat="yy-mm-dd"></p-calendar>
          </div>
          <div class="field">
            <label>Perfil</label>
            <p-dropdown [options]="roles" formControlName="role"></p-dropdown>
          </div>
          <div class="field">
            <p-checkbox formControlName="mfaEnabled" [binary]="true" label="MFA Ativado"></p-checkbox>
          </div>
          <button pButton type="submit" label="Salvar" [disabled]="userForm.invalid"></button>
        </form>
      </div>
    </div>

    <div class="col-12 xl:col-8">
      <div class="card">
        <h2>Utilizadores</h2>
        <p-table [value]="users">
          <ng-template pTemplate="header">
            <tr>
              <th>Foto</th>
              <th>Nome</th>
              <th>Utilizador</th>
              <th>Perfil</th>
              <th>Status</th>
              <th>MFA</th>
              <th>Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>
                <img [src]="user.photo" width="40" height="40" class="border-circle" />
              </td>
              <td>{{ user.firstname }} {{ user.lastname }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.role }}</td>
              <td>
                <span [ngClass]="user.isActive ? 'text-green-500' : 'text-red-500'">
                  {{ user.isActive ? 'Ativo' : 'Inativo' }}
                </span>
              </td>
              <td>
                <i class="pi"
                   [ngClass]="user.mfaEnabled ? 'pi-check-circle text-green-500' : 'pi-times-circle text-red-500'"></i>
              </td>
              <td>
                <button pButton icon="pi pi-lock" class="p-button-text" (click)="toggleStatus(user)"></button>
                <button pButton icon="pi pi-shield" class="p-button-text" (click)="toggleMFA(user)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="card mt-4">
        <h2>Log de Atividades</h2>
        <ul>
          <li *ngFor="let log of logs">{{ log }}</li>
        </ul>
      </div>
    </div>
  </div>
