<div class="grid">
    <div class="col-12 md:col-6">
        <p-card header="Account Information">
            <div class="grid p-fluid">
                <div class="col-12 field">
                    <label class="font-bold">Username</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText [value]="userInfo.username" readonly />
                        <button pButton type="button" icon="pi pi-copy" class="p-button-secondary"></button>
                    </div>
                </div>

                <div class="col-12 field">
                    <label class="font-bold">Email</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText [value]="userInfo.email" readonly />
                        <button pButton type="button" icon="pi pi-copy" class="p-button-secondary"></button>
                    </div>
                </div>

                <div class="col-12 field">
                    <label class="font-bold">Account Status</label>
                    <div class="flex align-items-center">
                        <p-inputSwitch [(ngModel)]="userInfo.status" (onChange)="toggleAccountStatus()"></p-inputSwitch>
                        <span class="ml-2">{{ userInfo.status ? 'Active' : 'Inactive' }}</span>
                    </div>
                </div>

                <div class="col-12 field">
                    <label class="font-bold">Last Login</label>
                    <input type="text" pInputText [value]="userInfo.lastLogin" readonly />
                </div>

                <div class="col-12 field">
                    <label class="font-bold">Account Created</label>
                    <input type="text" pInputText [value]="userInfo.accountCreated" readonly />
                </div>

                <div class="col-12 field">
                    <label class="font-bold">Password Last Changed</label>
                    <input type="text" pInputText [value]="userInfo.passwordLastChanged" readonly />
                </div>

                <div class="col-12">
                    <button pButton label="Reset Password" icon="pi pi-lock" class="p-button-warning" (click)="resetPassword()"></button>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="Activity Overview">
            <p-chart type="line" [data]="activityData" [options]="activityOptions" height="300px"></p-chart>
        </p-card>
    </div>

    <div class="col-12">
        <p-card header="Login History">
            <p-table [value]="loginHistory" [paginator]="true" [rows]="5" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date & Time</th>
                        <th>Device</th>
                        <th>IP Address</th>
                        <th>Location</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-login>
                    <tr>
                        <td>{{ login.date }}</td>
                        <td>{{ login.device }}</td>
                        <td>{{ login.ip }}</td>
                        <td>{{ login.location }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
