.user-info {
    position: relative;
    padding-top: 3rem; /* Add padding to make space for the image */
}

.user-avatar {
    position: absolute;
    top: 0;
    left: -50%;
    transform: translate(100%, -50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
