<div class="grid">

    <div class="col-12 flex justify-content-end mb-3">
        <button pButton type="button" label="Criar Centro" icon="pi pi-plus" (click)="createCenter()"></button>
    </div>

    <app-global-table
        tableLabel="Centros"
        [data]="(centers$ | async) ?? []"
        [entity]="'centers'"
        [columns]="columns"
        [columnTemplates]="{ actions: actionsTemplate, active: activeTemplate }"
        [loading]="loading$ | async"
        class="w-full"
        (createEntity)="createCenter()"
    ></app-global-table>

    <!-- Template para as colunas -->
    <ng-template #activeTemplate let-center>
        <p-badge
            [value]="center.active ? 'Ativo' : 'Inativo'"
            [severity]="center.active ? 'success' : 'danger'"
        ></p-badge>
    </ng-template>

    <!-- Template para a coluna de ações -->
    <ng-template #actionsTemplate let-center>
        <div class="flex gap-2 justify-content-center">
            <button
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-rounded p-button-text"
                (click)="viewDetails(center)"
                pTooltip="Ver Detalhes"
                tooltipPosition="top"
            ></button>

            <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger"
                (click)="deleteCenter(center)"
                pTooltip="Excluir"
                tooltipPosition="top"
            ></button>
        </div>
    </ng-template>

    <!-- Diálogo de criação -->
    <app-create-center-dialog></app-create-center-dialog>
    <!-- Diálogo de confirmação -->
    <p-confirmDialog></p-confirmDialog>
</div>
