<div class="grid">
    <!-- Permissions Table -->
    <app-global-table
        tableLabel="Permissões"
        [headerActions]="headerActions"
        [data]="(permissions$ | async)!"
        [entity]="'permissions'"
        [columns]="columns"
        [globalFilterFields]="globalFilterFields"
        [loading]="loading$ | async"
        [columnTemplates]="customTemplates"
        (rowSelect)="onRowSelect($event)"
        (createEntity)="navigateToCreatePermission()"
        class="w-full"
    ></app-global-table>
</div>

<!-- Date templates -->
<ng-template #createdAtTemplate let-rowData>
    <span>{{ rowData.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
</ng-template>

<ng-template #updatedAtTemplate let-rowData>
    <span>{{ rowData.updatedAt | date:'dd/MM/yyyy HH:mm' }}</span>
</ng-template>
