<div class="grid">

    <div class="col-12"> <!-- Permissions Tree View -->
        <app-permission-tree-view [permissions]="(permissions$ | async)!"
            [loading]="(loading$ | async)!"></app-permission-tree-view>
    </div>
</div>

<!-- Date templates -->
<ng-template #createdAtTemplate let-rowData>
    <span>{{ rowData.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
</ng-template>

<ng-template #updatedAtTemplate let-rowData>
    <span>{{ rowData.updatedAt | date:'dd/MM/yyyy HH:mm' }}</span>
</ng-template>
