<div class="col-12">
    <div class="card">
        <div class="flex justify-content-between gap-2 mb-5">
            <div class="flex align-items-center gap-4">
                <h1>{{ tableLable }}</h1>
                <!--
                <p-dropdown
                    [options]="options"
                    [(ngModel)]="selectedOption"
                    placeholder="Listagem por alunos"
                    [showClear]="true"
                ></p-dropdown>
                <p-dropdown
                    [options]="instalations"
                    [(ngModel)]="selectedDrop"
                    placeholder="Selecione a Instalação"
                    [showClear]="true"
                ></p-dropdown>
                -->
            </div>
            <div class="flex gap-1 h-rem">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-success"
                    (click)="navigateToCreateInvoices()"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-upload"
                    class="p-button-help"
                ></button>
                <p-splitButton
                icon="pi pi-file-export"
                [model]="items"
                styleClass="p-button-info h-5rem text-5xl"
            ></p-splitButton>
            </div>
        </div>
        <p-table
            #dt1
            [value]="customers1"
            dataKey="id"
            [rows]="10"
            [loading]="loading"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            [paginator]="true"
            [globalFilterFields]="[
                'name',
                'country.name',
                'representative.name',
                'status',
                'turma'
            ]"
            responsiveLayout="scroll"
            *ngIf="selectedOption() == 'table_invoices'"
        >
            <ng-template pTemplate="caption">
                <div
                    class="flex justify-content-between flex-column sm:flex-row"
                >

                <button
                pButton
                label="Limpar filtro"
                class="p-button-outlined mb-2"
                icon="pi pi-filter-slash"
                (click)="clear(dt1)"
            ></button>

            <p-dropdown
            [options]="instalations"
            [(ngModel)]="selectedDrop"
            placeholder="Filtrar por cidade"
            [showClear]="true"
        ></p-dropdown>

                <p-dropdown
                    [options]="options"
                    [(ngModel)]="selectedOption"
                    placeholder="Filtrar por produto"
                    [showClear]="true"
                ></p-dropdown>

                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            #filter
                            (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Pesquisar..."
                            class="w-full"
                        />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Numero da Fatura
                            <p-columnFilter
                                type="text"
                                field="name"
                                display="menu"
                                placeholder="Search by name"
                            ></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Data de Emissão
                            <p-columnFilter
                                type="text"
                                field="name"
                                display="menu"
                                placeholder="Search by name"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Data de Pagamento
                            <p-columnFilter
                                    type="text"
                                    field="turma"
                                    display="menu"
                                    placeholder="Search by name"
                                ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Data de Vencimento
                            <p-columnFilter
                                    type="text"
                                    field="turma"
                                    display="menu"
                                    placeholder="Search by name"
                                ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Utente
                            <p-columnFilter
                                    type="text"
                                    field="turma"
                                    display="menu"
                                    placeholder="Search by name"
                                ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Código
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Valor c/IVA
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                        Valor do IVA
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                        Ações
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>
                        FT C2025/0000
                    </td>
                    <td>{{ customer.date | date : "MM/dd/yyyy" }}</td>
                    <td>{{ customer.date | date : "MM/dd/yyyy" }}</td>
                    <td>{{ customer.date | date : "MM/dd/yyyy" }}</td>
                    <td>Helder Pascoal Gomes</td>
                    <td>0000</td>
                    <td>100.000.00 Kz</td>
                    <td style="min-width: 10rem">0Kz</td>
                    <td style="min-width: 10rem"> <button pButton label="KZ"  class="p-button-rounded p-button-warning" style="margin-right:5px ;"></button>
                        <button pButton  icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
