<div class="grid">
    <!-- KPIs -->
    <ng-container *ngIf="loadingDashboardStatistics$ | async; else kpisContent">
        <div class="col-12 md:col-6 xl:col-3" *ngFor="let i of [1,2,3,4]">
            <div class="card h-full">
                <p-skeleton height="2rem" class="mb-2"></p-skeleton>
                <p-skeleton height="3rem" width="4rem"></p-skeleton>
                <p-skeleton height="1rem" width="3rem" class="mt-2"></p-skeleton>
            </div>
        </div>
    </ng-container>
    <ng-template #kpisContent>
        <div class="col-12 md:col-6 xl:col-3" *ngFor="let kpi of kpis$ | async">
            <div class="card h-full">
                <span class="font-semibold text-lg">{{ kpi.label }}</span>
                <div class="flex justify-content-between align-items-start mt-3">
                    <div class="w-6">
                        <span class="text-4xl font-bold text-900">{{ kpi.current }}</span>
                        <div [ngClass]="kpi.diff > 0 ? 'text-green-500' : 'text-red-500'">
                            <i class="pi" [ngClass]="kpi.diff > 0 ? 'pi-arrow-up' : 'pi-arrow-down'"></i>
                            {{ kpi.diff }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- Date Range Filter -->
    <div class="col-12">
        <div class="card">
            <div class="flex gap-3 align-items-center">
                <p-calendar
                    [(ngModel)]="dateRange"
                    selectionMode="range"
                    dateFormat="mm/yy"
                    view="month"
                    placeholder="Filter by period"
                ></p-calendar>
                <button pButton type="button" label="Filter" (click)="filterData()"></button>
            </div>
        </div>
    </div>

    <!-- Status Distribution Pie Chart -->
    <div class="col-12 md:col-6">
        <div class="card h-full">
            <div *ngIf="!(loadingDashboardStatistics$ | async); else chartSkeleton">
                <p-chart
                    type="pie"
                    [data]="pieDataStatus"
                    [options]="pieStatusOptions"
                    height="300px"
                ></p-chart>
            </div>
            <ng-template #chartSkeleton>
                <p-skeleton height="300px"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <!-- Gender Distribution Pie Chart -->
    <div class="col-12 md:col-6">
        <div class="card h-full">
            <div *ngIf="!(loadingDashboardStatistics$ | async); else chartSkeleton2">
                <p-chart
                    type="pie"
                    [data]="pieDataGender"
                    [options]="pieGenderOptions"
                    height="300px"
                ></p-chart>
            </div>
            <ng-template #chartSkeleton2>
                <p-skeleton height="300px"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <!-- Age Distribution Pie Chart -->
    <div class="col-12 md:col-6">
        <div class="card h-full">
            <div *ngIf="!(loadingDashboardStatistics$ | async); else chartSkeleton3">
                <p-chart
                    type="pie"
                    [data]="pieDataAge"
                    [options]="pieAgeOptions"
                    height="300px"
                ></p-chart>
            </div>
            <ng-template #chartSkeleton3>
                <p-skeleton height="300px"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <!-- Province Distribution Bar Chart -->
    <div class="col-12 md:col-6">
        <div class="card h-full">
            <div *ngIf="!(loadingDashboardStatistics$ | async); else chartSkeleton4">
                <p-chart
                    type="bar"
                    [data]="barChartDataProvince"
                    [options]="barChartProvinceOptions"
                    height="300px"
                ></p-chart>
            </div>
            <ng-template #chartSkeleton4>
                <p-skeleton height="300px"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <!-- Municipality Distribution Bar Chart -->
    <div class="col-12">
        <div class="card h-full">
            <div *ngIf="!(loadingDashboardStatistics$ | async); else chartSkeleton5">
                <p-chart
                    type="bar"
                    [data]="barChartDataMunicipality"
                    [options]="barChartMunicipalityOptions"
                    height="300px"
                ></p-chart>
            </div>
            <ng-template #chartSkeleton5>
                <p-skeleton height="300px"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <!-- Academic Background Distribution Bar Chart -->
    <div class="col-12">
        <div class="card h-full">
            <div *ngIf="!(loadingDashboardStatistics$ | async); else chartSkeleton6">
                <p-chart
                    type="bar"
                    [data]="barChartDataAcademicBackground"
                    [options]="barChartAcademicBackgroundOptions"
                    height="300px"
                ></p-chart>
            </div>
            <ng-template #chartSkeleton6>
                <p-skeleton height="300px"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <!-- Top Performing Students Table -->
    <div class="col-12">
        <div class="card">
            <h5 class="text-xl font-semibold mb-4">Top Performing Students</h5>
            <p-table [value]="(topPerformers$ | async) || []" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Attendance</th>
                        <th>Grade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-student>
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.level }}</td>
                        <td>{{ student.attendance }}</td>
                        <td>{{ student.grade }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
